<div>
	<div class="container">
			<div class="row">
				<div ng-repeat="movie in movies" class="col-md-4 col-sm-6 col-xs-12">
					<div class="movie-container">
						<a href="/movie/{{movie.youtubeId}}">
							<div class="thumbnail">
								<div class="poster img-rounded">
									<img ng-src="{{movie.posterUrl}}" class="" alt="{{movie.title}}" />
								</div><!-- end of poster rounded -->
							</div><!-- end of thumbnail -->
							<div class="title">
								{{movie.title}}
							</div>
						</a>
						<a class="favorite" ng-click="removeFavorite(movie)" ng-if="movie.isFavorite">
							<span class="favorited-heart">&#x2665;</span>Favorite
						</a>
						<a class="favorite" ng-click="addFavorite(movie)" ng-if="!movie.isFavorite">
							<span class="unfavorited-heart">&#x2661;</span> Add Favorite
						</a>
					</div><!-- end of movie container -->
				</div><!-- end of ng-repeat movie in movies -->
			</div><!-- end of row -->
	</div><!-- end of container -->
	 
</div>