<!-- app/views/layouts/angular.html.erb -->

<!DOCTYPE html>
<html lang="en" ng-app="popcornApp">
	<head>
		<meta charset="utf-8">
		<meta html-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "popcorn" %></title> 

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", :media=> "all" %>
	</head>
	<body>

		 <div class="navbar navbar-default">
		      <div class="container">
		        <div class="navbar-header">
		          <a class="navbar-brand" href="#">
		            <h1><a href="/">Popcorn!</a></h1>
		          </a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right user-panel-container">
		            <li class="active">
		              <!-- user info will go here soon -->
		            </li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
    	</div>

	 

		<div ng-controller="MoviesController">
			<div class="container">
				<div class="row">
					<div ng-repeat="movie in movies" class="col-md-4 col-sm-6 col-xs-12">
						<div class="movie-container">
							<a href="/movie/{{movie.youtubeId}}">
								<div class="thumbnail">
									<div class="poster img-rounded">
										 <img ng-src="{{movie.posterUrl}}" class="" alt="{{movie.title}}" />
									</div><!-- end of poster rounded -->
								</div><!-- end of thumbnail -->
								<div class="title">
									{{movie.title}}
								</div>
							</a>
							<a class="favorite" ng-click="removeFavorite(movie)" ng-if="movie.isFavorite">
								<span class="favorited-heart">&#x2665;</span>Favorite
							</a>
							<a class="favorite" ng-click="addFavorite(movie)" ng-if="!movie.isFavorite">
								<span class="unfavorited-heart">&#x2661;</span> Add Favorite
							</a>


						</div><!-- end of movie container -->
				</div><!-- end of ng-repeat movie in movies -->
			</div><!-- end of row -->
    	</div><!-- end of container -->
    </div><!-- end of movie controller div -->

		<div id="f">
	      <div class="container">
	        <div class="row">
	          <p>Sreeprasad :sreeprasad.sp@gmail.com</p>
	        </div>
	      </div>
    	</div>


		<%= javascript_include_tag "application" %>
	</body>
</html>